.btn-light {
    border: 1px solid lightgray !important;
    border-radius: 0.25rem !important;
}

.list-group {
    border-radius: 0 !important;
}

.list-group-item {
    border-radius: 0 !important;
}